# Dependencies
node_modules
.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.production.local
.env.development.local

# Build
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
*.swp
*.swo
*~

# Testing
coverage

# Supabase
.temp
